@import url('https://fonts.googleapis.com/css?family=open+sans')
body
{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Poppins', sans-serif;

}
.container
{
	margin: 0;
	height: calc(50vh - 2px);
	width: calc(100vw - 20px);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

}
.container .box
{
	position: relative;
	width: 350px;
	padding: 40px;
	background: #fff;
	box-shadow: 0 5px 15px rgba(0,0,0,.1);
	border-radius: 4px;
	margin: 50px;
	box-sising: border-box;
	overflow: hidden;
	text-align: center;
}
.container .box:before
{
	content:' ';
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(225,225,225,.2);
	z-index: 2;
	position-events: none;
}
.container .box .icon
{
	position: relative;
	width: 80px;
	height: 80px;
	color: #fff;
	background: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	border-radius: 50%;
	font-size: 40px;
	font-weight: 700;
	transition: 1s;
}
.container .box:nth-child(01) .icon
{
	box-shadow: 0 0 0 0 #e91e63;
	background: #e91e63;
}
.container .box:nth-child(01):hover .icon
{
	box-shadow: 0 0 0 400px #e91e63;
}

.container .box:nth-child(02) .icon
{
	box-shadow: 0 0 0 0 #23e629;
	background: #23e629;
}
.container .box:nth-child(02):hover .icon
{
	box-shadow: 0 0 0 400px #23e629;
}
.container .box:nth-child(03) .icon
{
	box-shadow: 0 0 0 0 #2196f3;
	background: #2196f3;
}
.container .box:nth-child(03):hover .icon
{
	box-shadow: 0 0 0 400px #2196f3;
}
.container .box:nth-child(04) .icon
{
	box-shadow: 0 0 0 0 #2196f3;
	background: #2196f3;
}
.container .box:nth-child(04):hover .icon
{
	box-shadow: 0 0 0 400px #2196f3;
}

.container .box .content
{
	position: relative;
	z-index: 1;
	transition: 0.5s:
}
.container .box:hover .content
{
	color: #fff;
}
.container .box .content h3
{
	font-size: 20px;
	margin: 10px 0;
	paddind: 0;
}
.container .box .content p
{
	margin: 0;
	padding: 0;
}
a
{
	display: inline-block;
	padding: 10px 20 px;
	background: #fff;
	border-radius: 4px;
	text-decoration: none;
	color: #000;
	font-weight: 500;
	margin-top: 20px;
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
}
